.svg_white {
    filter: invert(1);
}

.svg_gray {
    filter: invert(.6);
}

.product_default_image {
    min-width: 210px;
    min-height: 210px;
    width: 100%;
    height: auto;
    background-color: #eee;
    text-align: center;
    padding: 60px 0;
    color: #000;
}

.brand_image_default {
    max-width: 343px;
    max-height: 228px;
    width: 100%;
    height: auto;
    background-color: #eee;
    text-align: center;
    margin: 80px 0;
    padding: 50px;
    color: #000;
}

.category_image_default {
    max-width: 255px;
    max-height: 255px;
    width: 100%;
    height: auto;
    background-color: #eee;
    text-align: center;
    margin: 10px 0;
    padding: 120px 40px;
    color: #000;
}

.product_image_default {
    display: flex;
    min-height: 170px;
    width: 100%;
    height: 100%;
    background-color: #eee;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem;
    color: #000;
}

.reference_image_default {
    -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    padding: 85px 0;
    color: #000;
}

.blog_image_default {
    -o-object-fit: cover;
    object-fit: cover;
    width: 730px;
    height: 487px;
    background-color: #eee;
    text-align: center;
    padding: 90px 0;
    color: #000;
}

.blog_slider_image_default {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #eee;
    text-align: center;
    padding: 104px 0;
    color: #000;
}

a.blogim img {
    min-width: 100%;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.bx-wrapper .bx-next {
    right: -30px;
}

.bx-wrapper .bx-prev {
    left: -30px;
}

.blogim_over {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 90%);
}

.blogim_over:hover {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.blogim_over p {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    color: white;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.blogim_over:hover p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: pre-wrap;
}

a.blogim {
    display: block;
    width: 100%;
}

div.container.content > div > div > figure > img {
    max-width: -webkit-fill-available;
}

.slider-image-container {
    height: 247px;
}

@media (min-width: 992px) {
    #brd_id .col-lg-3:nth-child(4n) {
        border-right: none;
    }

    #brd_id .list-group-item:nth-last-child(-n +4) {
        border-bottom: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #brd_id .col-md-4:nth-child(3n) {
        border-right: none;
    }

    #brd_id .list-group-item:nth-last-child(-n +3) {
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    #brd_id .col-6:nth-child(2n) {
        border-right: none;
    }

    #brd_id .list-group-item:nth-last-child(-n +2) {
        border-bottom: none;
    }
}

#brd_id .list-group-item:last-child {
    border-right: none;
}

#brd_id .list-group-item {
    margin-bottom: 0;
    border: 0;
    caret-color: transparent;
    border-right: 1px solid #dae8fa;
    border-top: none;
    border-bottom: 1px solid #dae8fa;
}

#brd_id {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    #grid3_borders .col-lg-4:nth-child(3n) {
        border-right: none !important;
    }

    #grid3_borders .list-group-item:nth-last-child(-n +3) {
        border-bottom: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #grid3_borders .col-md-6:nth-child(2n) {
        border-right: none !important;
    }

    #grid3_borders .list-group-item:nth-last-child(-n +2) {
        border-bottom: none !important;
    }
}

@media (max-width: 767px) {
    #grid3_borders .col-12 {
        border-right: none !important;
    }

    #categories_list {
        margin: 25px 0 50px;
    }
}

#grid3_borders .list-group-item:last-child {
    border-right: none !important;
}

#grid3_borders .list-group-item {
    margin-bottom: 0;
    border: 0;

    border-right: 1px solid #dae8fa;
    border-top: none;
    border-bottom: 1px solid #dae8fa;
}

#brd_id {
    margin-bottom: 20px;
}


a.category_count span.badge {
    margin: 0 0 0 10px;
}


.h2 small.catapp {
    color: #ccc;
    font-size: 1.2rem;
}

em.error.help-block {
    width: 100%;
    color: #c40000;
    display: block;
    border-radius: 4px;
    margin-top: 5px;
}

.blog_image {
    min-width: 75px;
    min-height: 75px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
}

.blog_image img {
    min-height: 75px;
    width: auto;
    position: absolute;
    left: -20px
}

#addresses a {
    font-weight: bold;
}

#addresses b {
    color: #ff7200;
}

#goToTopBtn {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 0;
    outline: none;
}

#scrollButton {
    background: transparent;
    outline: none;
}

.blog .card {
    border-radius: 0.25rem;
    overflow: hidden;
    background: #fff;
    transition: all ease-in-out .3s;
    border: 0px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 0 1em 0;

    &:hover {
        box-shadow: .1rem 1rem 2rem rgba(0, 0, 0, 0.12), -.1rem 0 2rem rgba(0, 0, 0, 0.12);
    }

    .card-img {
        position: relative;
        overflow: hidden;

        &:hover {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        &:hover img {
            transform: scale(1.2);
        }

        & img {
            transition: all 1s ease 0s;
            width: 100%;
        }
    }
}

.blog .card .card-footer .views {
    text-align: right;
    font-weight: lighter;
    width: 100%;
}

.blog .card-image {
    min-height: 233px;
}

/* For screens larger than 'sm' */
@media (min-width: 576px) {
    .card-body {
        min-height: 140px;
        align-items: center;
    }

    .blog .img-cover {
        width: auto;
        height: 100%;
        min-height: 233px;
        object-fit: cover;
        object-position: center;
    }
}

/* For screens smaller than 'sm' */
@media (max-width: 575.98px) {

    .blog .img-cover {
        width: 100%;
        height: auto;
        min-height: unset;
        object-fit: contain;
        object-position: top;
    }
}

.min-h-200 {
    min-height: 200px;
}

h1 {
    margin-top: 2rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 1.8rem;
}

h3 {
    font-size: 1.6rem;
    margin-top: 1.6rem;
}

h4 {
    font-size: 1.45rem;
    margin-top: 1.45rem;
}

h5 {
    font-size: 1.3rem;
    margin-top: 1.3rem;
}

h6 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.warning_message {
    background-color: #c40000;
    color: #ffffff;
    font-weight: bolder;
}

.sticky-bottom-right {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px; /* Adjust the distance from the right */
    z-index: 5; /* Ensure it is on top of other elements */
    padding: 10px;
    background-color: rgba(0, 69, 139, 0.7);
    border: 1px solid #ccc;
    border-radius: 15px;
}

.red {
    color: #c40000;
}

.white {
    color: #fff;
}

.blue {
    color: #003eff;
}

figure.image {
    text-align: center;
}


.navprod-tabs .navprod-link.active, .navprod-tabs .navprod-item.show .navprod-link {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

.navprod-link:hover, .navprod-link:focus {
    outline: none !important;
    text-decoration: none;
}

.navprod-tabs {
    border-bottom: 1px solid #dee2e6;
}

.navprod-link {
    display: block;
    color: #d96100;
    padding: .5rem 1rem;
    background: none;
    font-size: .9rem;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    caret-color: transparent;
}

.navprod-link.active {
    border: 1px solid #dee2e6;
    color: #495057;
    border-bottom: 1px solid white;
    position: relative;
    bottom: -1px;
}

.navprod-link:hover {
    border: 1px solid #e1e5e8;
    border-bottom: 1px solid white;
}

.main-row--grid, .img-grid--item, .card, .list-unstyled li {
    caret-color: transparent;
}

figure.table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.sidebar-title {
    margin-top: 1.8rem;
}

.bnbsNav {
    min-width: 8rem
}