#map {
    position: relative;
    height: 100%;
}

.form-label {display: none;}


option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.h2 small {color:#777;}
.list-group-item.active a {color:#fff;}
.list-group-item.active a span.badge-primary {
  color: #ff7200;
  background-color: #fff;
}

.blockquote-home {
    font-size: 1.2rem;
}
.animate-area--title {
  max-width: 60rem;
}

.main_minex{
  min-height: 90vh;
}

.fixed--top {
  z-index: 200;
}

.h3 small { color: #777;}

.form-checkbox-min{
  width: 2.5rem;
  height: 2rem;
  display: block;
  float: left;
}

.multumim-center{
    padding: 6rem;
    font-size: x-large;
    color: green;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
    background-color: #eeeeeead;
    border-radius: .25rem;
}

.form_errors{
  background-color: #ffd1d1ad;
  padding: 2rem .75rem;
  border-radius: .25rem;
}
.form_errors ul {
    margin: 0;
}

.captcha-error {
  width: 304px;
}

.navbar--minex .navbar-nav .nav-link {
  padding: .3rem .9rem;
}

.dropdown-menu a {
  padding: .2rem 0;
}

.animate-area--sub {
  font-size: 1.8rem;
}

.wrap_russian {
    word-wrap: break-word;
}

.searchbox-input {
  width: auto;
}

@media (max-width: 1240px){
  .navbar--minex .navbar-nav .nav-link {
    padding: .3rem .4rem;
  }
  .form-control.searchbox-input {
    width: 100px;
  }
}

footer{
  background-color: #ced4da;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
  padding-right: 10px;
}

dd {
  grid-column-start: 2;
}
