name: Deploy to Staging

on:
  push:
    branches:
      - staging2

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Prepare deployment folder
        run: |
          mkdir deploy_dir
          cp -r app bootstrap config database public resources routes storage vendor artisan composer.json composer.lock package.json package-lock.json vite.config.js deploy_dir/

      - name: Deploy files via Rsync
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass
          sshpass -p "${{ secrets.SFTP_PASSWORD }}" rsync -rlDvz --size-only --exclude='.git*' --exclude='storage' --exclude='.env' --exclude='node_modules' --exclude='vendor' --exclude='public/storage' --exclude='public/uploads' -e "ssh -o StrictHostKeyChecking=no -p ${{ secrets.SFTP_PORT }}" ./deploy_dir/ ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_HOST }}:${{ secrets.STAGING2_SFTP_PATH }}

      - name: Post-deployment commands via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: ${{ secrets.SFTP_PORT }}
          script: |
            cd ${{ secrets.STAGING2_SFTP_PATH }}
            [ -f .env ] || cp .env.example .env
            php artisan migrate --force
            php artisan optimize
            php artisan view:cache
            php artisan event:cache
