name: Deploy to Staging

on:
  push:
    branches:
      - staging2

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Deploy files via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.STAGING_SFTP_HOST }}
          username: ${{ secrets.STAGING_SFTP_USERNAME }}
          password: ${{ secrets.STAGING_SFTP_PASSWORD }}
          port: ${{ secrets.STAGING_SFTP_PORT }}
          source: |
            *
            !node_modules
            !.git
            !.github
            !tests
            !.phpunit.result.cache
          target: ${{ secrets.STAGING_SFTP_PATH }}
          rm: false
          strip_components: 0

      - name: Post-deployment commands via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.STAGING_SFTP_HOST }}
          username: ${{ secrets.STAGING_SFTP_USERNAME }}
          password: ${{ secrets.STAGING_SFTP_PASSWORD }}
          port: ${{ secrets.STAGING_SFTP_PORT }}
          script: |
            cd ${{ secrets.STAGING_SFTP_PATH }}
            [ -f .env ] || cp .env.example .env
            php artisan migrate --force
            php artisan optimize
            php artisan view:cache
            php artisan event:cache
